/* src/styles/global.css */

@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .truncate-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines */
    line-clamp: 3; /* Number of lines */
    
  }

  /* Custom vertical scrollbar (y-axis) */
.scrollbar-custom {
  scrollbar-width: none; /* For Firefox */
  scrollbar-color: #8d8d8d7e #f7fafc; /* Scrollbar thumb and track colors */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 2px; /* Width for vertical scrollbar */
  height: 2px; /* Height for horizontal scrollbar */
  display: none;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #8d8d8d7e; /* Scrollbar thumb (draggable part) color */
  border-radius: 4px; /* Roundness of scrollbar thumb */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #f7fafc; /* Scrollbar track color */
}

/* Custom horizontal scrollbar (x-axis) */
.scrollbar-custom::-webkit-scrollbar-thumb:horizontal {
  background-color: #8d8d8d7e; /* Scrollbar thumb color for horizontal axis */
  border-radius: 4px;
  width: 2px;
}

 /* Custom calender */

.custom-datepicker {
  padding: 5px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 10px !important;
}

 /* Customize header */
.custom-datepicker .react-datepicker__header {
  @apply bg-bluelight/10 text-black;
}


/* Style for selected day */
.custom-datepicker .react-datepicker__day--selected,
.custom-datepicker__day--keyboard-selected {
  @apply bg-bluelight text-black;
}


/* Hover effect */
.custom-datepicker .react-datepicker__day:hover {
  @apply bg-primary text-white;
}

/* Month display style */
.custom-datepicker .react-datepicker__current-month {
  @apply font-bold text-lg text-gray-800;
}

/* Style for days outside the current month */
.custom-datepicker .react-datepicker__day--outside-month {
  @apply text-gray-400;
}

  /* @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  } */